<!DOCTYPE html>


<html itemscope itemtype="http://schema.org/QAPage" class="">

<head>

    <title>asp.net - How To Set Default Layout For ASP Razor MVC - Stack Overflow</title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" />
</head>

<body>
    @RenderBody() 


   <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
   <script type='text/javascript' src="~/libs/jquery/dist/jquery.js" asp-append-version="true"></script>
   <script type='text/javascript' src="~/libs/underscore/underscore.js" asp-append-version="true"></script>
   @RenderSection("Scripts", false)
</body>

</html>